* {
  font-family: "Fira Code Nerd Font";
  font-size: 18px;
  min-height: 0;
}

window#eww-bar {
  background: transparent;
}

.bar-container {
  background: #{{base00}};
  border: 1px solid #{{base07}};
  padding: 5px 0;
  margin: 5px;
}

.workspaces {
  background: transparent;
  padding: 0;
  margin: 0;
}

.workspaces button {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  border: none;
  padding: 5px 10px;
  color: #{{base07}};
  border: 1px solid #{{base07}};
  border-color: #{{base07}};
  border-radius: 0;
  min-width: 0;
  min-height: 0;
  margin: 0 5px;
  font-size: 24px;
  background: transparent;
}

.workspaces button:hover {
  background: #{{base00}};
  border: 1px solid #{{base07}};
  box-shadow: none;
}

.workspaces button:active {
  background-image: none;
  box-shadow: none;
}

.workspaces button:hover {
  background: #{{base00}};
  border-color: #{{base07}};
}
