* {
  font-family: "Fira Code Nerd Font";
  font-size: 18px;
  min-height: 0;
}

window#eww-bar {
  background: transparent;
}

.bar-container {
  background: transparent;
}

.workspaces, .windows {
  padding: 5px;
  border: 1px solid #{{base07}};
  margin: 5px;
}

.workspace-button, .window-button {
  padding: 8px;
  color: #{{base07}};
  font-size: 24px;
  background-color: #{{base00}};
  border: 1px solid #{{base03}};
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}

.workspace-button.active, .window-button.focused {
  border-color: #{{base07}};
}

.workspace-button .workspace-icon {
  padding: 0;
  margin: 0;
}

.workspace-button .workspace-idx {
  font-size: 14px;
  background: #{{base00}};
  opacity: 0.7;
  color: #{{base07}};
  border-radius: 4px;
  margin: 20px 0 0 20px; /* nudges the label into the bottom-right corner over the icon */
}

.workspace-button.active .workspace-idx {
  opacity: 1;
}
