* {
  font-family: "Fira Code Nerd Font";
  font-size: 18px;
  min-height: 0;
}

window#eww-bar {
  background: transparent;
}

.bar-container {
  background: transparent;
}

.workspaces, .windows, .system {
  border: 1px solid #{{base07}};
  margin: 5px;
}

.windows {
  margin: 15px 5px;
}

.workspaces, .windows {
  padding: 5px;
}

.workspace-button, .window-button, .system-item {
  color: #{{base07}};
  font-size: 24px;
  background-color: #{{base00}};
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}

.workspace-button, .window-button {
  padding: 8px;
  border: 1px solid #{{base03}};
}

.system-item {
  font-size: 12px;
  border-bottom: 1px solid #{{base07}};
}

.system-item:last-child {
  border: none;
}

.system-item .system-icon {
  color: #{{base07}};
}

.system-item .system-label.small {
  font-size: 12px;
}

.workspace-button.active, .window-button.focused {
  border-color: #{{base07}};
}

.workspace-button .workspace-icon {
  padding: 0;
  margin: 0;
}

.workspace-button .workspace-idx {
  font-size: 14px;
  background: #{{base00}};
  opacity: 0.7;
  color: #{{base07}};
  border-radius: 4px;
  margin: 20px 0 0 20px; /* nudges the label into the bottom-right corner over the icon */
}

.workspace-button.active .workspace-idx {
  opacity: 1;
}
